body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  position: relative;
  max-width: 1200px;
  min-width: 768px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #000000;
}

.main-navigation-list,
.catalog {
  list-style: none;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 15px 6%;
}

.main-navigation-list li {
  width: 20%;
}

.main-navigation-list li:nth-child(4n-2) {
  margin-right: 20%;
}

.main-navigation-list li:nth-child(4n+1),
.main-navigation-list li:nth-child(4n+2) {
  text-align: left;
}

.main-navigation-list li:nth-child(4n+3),
.main-navigation-list li:nth-child(4n+4) {
  text-align: right;
}

.main-navigation-list a:hover,
.catalog-item-hotels:hover {
  color: #81b3d2;
}

.main-navigation-list a:active,
.catalog-item-hotels:active {
  color: #cacaca;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.logo img {
  width: 140px;
}

.current {
  color: #766357;
}

.promo {
  background: url("../img/bg-photo.jpg") no-repeat #e3f0f8 0 20%;
  position: relative;
  min-height: 510px;
}

.promo-img {
  width: 470px;
  margin: 0 auto;
  padding-top: 78px;
}

.promo::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  background: url("../img/mask.png") no-repeat;
  background-position: center;
}

.promo-text {
  padding-top: 58px;
  padding-bottom: 40px;
  text-align: center;
}

.promo-title {
  font-size: 21px;
  margin: 0;
  padding-bottom: 14px;
}

.promo-reasons {
  font-weight: normal;
  color: #333333;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 33.3334%;
  box-sizing: border-box;
  padding: 0 58px;
  text-align: center;
}

.features-image {
  background-color: #81b3d2;
  width: 66.667%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.features-image img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: -30%;
}

.features-item-blue {
  background-color: #81b3d2;
  padding: 0 49px;
}

.features-item-gray {
  background-color: #eeeeee;
}

.features-item-gray .features-title {
  padding-top: 40px;
}

.features-title {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 25px;
  padding-left: 65px;
  padding-right: 65px;
}

.features-title-white {
  color: #ffffff;
  padding-top: 40px;
}

.features-num {
  display: block;
  font-weight: normal;
  color: #333333;
  padding-bottom: 20px;
}

.features-num-white {
  color: #ffffff;
}

.features-text {
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  margin: 0;
  padding-bottom: 52px;
}

.features-text-white {
  color: #ffffff;
}

.features-title-house::before {
  content: "";
  position: relative;
  background: url("../img/icon-1.svg") no-repeat;
  top: 4%;
  left: 38%;
  display: block;
  width: 75px;
  height: 76px;
  margin-top: 50px;
}

.features-title-food {
  min-height: 330px;
}

.features-title-food::before {
  content: "";
  position: relative;
  background: url("../img/icon-3.svg") no-repeat;
  top: 4%;
  left: 36%;
  display: block;
  width: 75px;
  height: 76px;
  margin-top: 50px;
}

.features-title-souvenir::before {
  content: "";
  position: relative;
  background: url("../img/icon-2.svg") no-repeat;
  top: 2%;
  left: 40%;
  display: block;
  width: 75px;
  height: 76px;
  margin-top: 50px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 32px;
}

.hotel-search-text {
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 33px;
}

.map {
  background-image: url("../img/map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 593px;
}

.search-btn {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  width: 568px;
  height: 86px;
  border: none;
  background-color: #766357;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}

.search-btn:hover,
.catalog-item-btn-book:hover {
  background-color: #604e43;
}

.search-btn:active,
.catalog-item-btn-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.footer-transparent {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30px 0;
}

.footer-hashtag {
  font-size: 21px;
  width: 33.3334%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  display: flex;
  align-items: center;
  width: 33.3334%;
  justify-content: center;
}

.copyright-text {
  font-weight: normal;
  padding-right: 10px;
}

.logo-academy {
  line-height: 0;
  font-size: 0;
  color: transparent;
  display: block;
}

.social a {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.social {
  display: flex;
  width: 33.3334%;
  justify-content: center;
}

.social-btn {
  margin: 6px;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: rgba(84, 150, 189, 0.3);
}

.logo-academy-img {
  fill: #231f20;
  width: 115px;
  height: 47px;
}

.logo-academy-img:hover {
  fill: #81b3d2;
}

.logo-academy-img:active {
  fill: #bdbbbc;
}

.hotel-filter {
  background-image: url("../img/bg-filter.jpg");
  background-repeat: no-repeat;
  display: flex;
  padding: 0 6% 24px;
}

.hotel-filter-group {
  color: #ffffff;
  border: 0;
  margin: 27px 90px 0 0;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

[type="checkbox"]:not(:checked) + label::before,
[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: url("../img/checkbox-off.svg") no-repeat;
}

[type="checkbox"]:not(:checked) + label::after,
[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/checkbox-on.svg") no-repeat;
  width: 35px;
  height: 35px;
}

[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}

[type="checkbox"]:checked + label::after {
  opacity: 1;
  transform: scale(1);
}

.btn {
  background-color: #a9a9a9;
  text-transform: uppercase;
}

.btn:hover {
  color: #000000;
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.btn:active {
  background-color: #81b3d2;
}

.filter-checkbox {
  display: flex;
  margin-top: 15px;
  font-weight: normal;
}

.hotel-filter-title {
  padding-bottom: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.hotel-filter-cost {
  border: 0;
  color: #ffffff;
  margin: 30px 0 0;
  margin-left: auto;
  padding: 0;
}

.range {
  max-width: 318px;
}

.range-field {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.range-field::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background-color: #ffffff;
}

.range-field label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: bottom;
  text-align: center;
  cursor: pointer;
}

.range-field input {
  width: 40%;
  margin: 0;
  padding: 5px 0;
  font: inherit;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;
}

.range-scale {
  height: 2px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  padding: 2px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover,
.toggle:focus {
  padding: 3px;
}

.min-toggle {
  left: 0;
}

.max-toggle {
  left: 80%;
}

.btn-transparent {
  padding: 8px 30px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 88px;
}

.btn-transparent:hover,
.btn-transparent:focus {
  color: #000000;
  background-color: #ffffff;
}

.search {
  display: flex;
  padding: 0 6%;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  min-height: 89px;
  justify-content: space-between;
}

.search-panel {
  display: flex;
  align-items: center;
}

.search-count {
  font-size: 21px;
  margin-right: 25px;
  padding: 0;
}

.search-caption {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin-left: 25px;
  margin-right: 40px;
}

.search-sort {
  font-weight: normal;
  font-size: 12px;
}

.search-sort-link-type {
  padding-right: 30px;
  padding-left: 0;
}

.search-sort-link {
  color: #cacaca;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.search-sort-link:hover {
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.search-sort-link:active {
  color: #000000;
  text-decoration: none;
}

.search-sort-link-price {
  color: #95bed8;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 0;
}

.search-arrow {
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding-left: 10px;
}

.search-arrow-img {
  fill: #cacaca;
}

.search-arrow-img:hover {
  fill: #231f20;
}

.search-arrow-img:active {
  fill: #81b3d2;
}

.search-arrow-img-down {
  fill: #81b3d2;
}

.catalog {
  padding: 0;
  margin: 0;
}

.catalog-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 6%;
}

.catalog-item-actions {
  margin-left: 30px;
  order: 2;
}

.catalog-item-actions h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.catalog-item-grade {
  order: 3;
  margin-left: auto;
}

.catalog-item-btn-book {
  background-color: #766357;
  width: 142px;
}

.catalog-item-btn-read {
  background-color: #81b3d2;
  width: 110px;
}

.catalog-details-price-wrapper {
  display: flex;
  margin-bottom: 33px;
}

.catalog-item-btn {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  height: 20px;
  border: none;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-top: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.catalog-item-hotels {
  font-size: 21px;
}

.catalog-item-details,
.catalog-item-price {
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  padding: 0;
  margin: 0;
  width: 110px;
  margin-right: 7px;
}

.catalog-item-star {
  display: inline-block;
  margin-right: 6px;
}

.catalog-item-rate {
  line-height: 21px;
  font-weight: normal;
  color: #666666;
  width: 110px;
  text-align: center;
  padding: 3px 0;
  background-color: #f2f2f2;
}

.catalog-item-rating {
  line-height: 0;
  font-size: 0;
  color: transparent;
  margin-bottom: 50px;
  text-align-last: end;
}

.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  bottom: 0;
  padding: 30px 0;
}

.search-hotel-form {
  background-color: #ffffff;
  position: absolute;
  bottom: 195px;
  left: 315px;
  padding: 50px 56px 0;
}

.select-date {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  padding-top: 10px;
}

.select-date label,
.number label {
  padding-top: 5px;
  padding-left: 3px;
}

.search-hotel-form input,
.btn-minus,
.btn-plus {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.select-date input {
  box-sizing: border-box;
  width: 350px;
  padding-left: 15px;
  padding-right: 41px;
}

.select-date input:hover {
  background-color: #ebebeb;
}

.select-date input:focus {
  background-color: #ffffff;
}

.icon-calendar-wrapper {
  position: relative;
}

.icon-calendar {
  fill: #cacaca;
  position: absolute;
  width: 21px;
  height: 22px;
  right: 10px;
  bottom: 6px;
}

.icon-calendar:hover {
  fill: #000000;
}

.icon-calendar:active {
  fill: #81b3d2;
}

.number-wrapper {
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  margin-top: 30px;
  margin-bottom: 55px;
}

.submit:hover,
.catalog-item-btn-read:hover {
  background-color: #669ec0;
}

.submit:active,
.catalog-item-btn-read:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.number {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.number input {
  width: 38px;
  text-align: center;
  /*padding-top: 1px;*/
  color: #000000;
  background-color: #f2f2f2;
  cursor: pointer;
}

.btn-minus,
.btn-plus {
  padding: 5px 0;
  width: 38px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.btn-minus {
  background: url("../img/minus.svg") no-repeat #f2f2f2;
  margin-left: 35px;
}

.btn-plus {
  background: url("../img/plus.svg") no-repeat #f2f2f2;
}
